<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
		<div id="newpicform">
			<div>
			<label>Image
				<div class="imgpreview" ng-class="getClass()">
					<img id="imgpreview" ng-src="{{pic.link}}" alt="new Image">
				</div>
			</label>
			</div>
			<form name="picform" novalidate>
				<p>
					<label>
						Title
						<input type="text" name="title" ng-model="pic.title">
					</label>
				</p>
				<p>
					<label>
						Source (http link)
						<input id="imgsrc" type="text" name="link" ng-model="pic.link">
					</label>
				</p>
				<p>
					<div class="size">
						<label>Standard
							<input type="radio" ng-model="pic.size" name="size" value="Standard">
						</label>
						<label>MediumWide
							<input type="radio" ng-model="pic.size" name="size" value="MediumW">
						</label>
						<label>MediumTall
							<input type="radio" ng-model="pic.size" name="size" value="MediumT">
						</label>
						<label>MediumWideTall
							<input type="radio" ng-model="pic.size" name="size" value="MediumWT">
						</label>
					</div>
				</p>
				<button id="submit" type="submit" ng-click="addPic()">Submit</button>
			</form>
		</div>

	  <div class="imglist">
	    <div class="imgbum" ng-repeat="image in imgList">
	      <div class="grid-item {{image.size}}">
	      	<button ng-click="remove(image)">X</button>
	        <div class="pic">
	          <img ng-src="{{image.link}}" alt="{{image.description}}">
	        </div>
	        <div class="desc">
	          <p>{{image.description}}</p>
	          <a class="user" href="/user/{{image.user._id}}">{{image.user.name}}</a>
	          <span class="likescount">likes: {{image.userlikes.length}}</span>
	          <button ng-show="isLoggedIn()" ng-click="meLike(image)">I Like</button>
	        </div>  
	      </div>
	    </div>
	  </div>



    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){

	$('#imgpreview').error(function(){
        $(this).attr('src', 'https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/240px-No_image_available.svg.png');
	});
});
</script>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.1.1 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
