<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Pics Album</h1>
    <p class="lead">Share your world!</p>
  </div>
</header>

<div class="container">
  <div class="imglist">
    <div class="grid-item imgbum animated rubberBand" ng-repeat="image in imgList">
      <div class="{{image.size}}">
        <div class="pic">
          <img ng-src="{{image.link}}" alt="{{image.description}}">
        </div>
        <div class="desc"><p>{{image.description}}</p>
          <a class="user" href="/user/{{image.user._id}}">{{image.user.name}}</a>
          <span class="likescount">likes: {{image.userlikes.length}}</span>
          <button ng-show="isLoggedIn()" ng-click="meLike(image)">I Like</button>
        </div>  
      </div>
    </div>
  </div>

</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack - Freecodecamp |
        <a href="https://twitter.com/mcarlosman">@mcarlosman</a> |
         <a href="https://github.com/moigithub/">Github</a></p>
  </div>
</footer>
